/* IMGPORT FORMS FROM GOOGLE  */
@import url("https://fonts.googleapis.com/css?family=Anton|Gugi|Lato|Roboto|Sofia&display=swap");

* {
  margin: 0;
  padding: 0;
}
:root {
  --primary-color: #45ccb8;
  --light-gray: #2b3032a1;
  --border: #2b303218;
  --text-color: #ff686b;
  --roboto: "Roboto", sans-serif;
  --gugi: "Gugi", cursive;
  --sofia: "Sofia", cursive;
}

.primary-color {
  color: var(--primary-color);
}

.bg-primary {
  background-color: var(--primary-color) !important;
}
.text-color {
  color: var(--text-color);
}
.lightblue {
  color: lightblue;
}
.font-robot {
  font-family: var(--roboto);
}

/* header  */

header {
  background-color: var(--primary-color);
  font-family: var(--roboto);
}

header .site-title {
  font-family: var(--gugi);
}

.container .dropdown-toggle,
.container .dropdown-item {
  font-size: 0.7em;
}
.header-link a {
  font-size: 0.9em;
  text-decoration: none;
  color: white;
}
